doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Web programming
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet')
    link(href='/stylesheets/login.css' rel='stylesheet')
  body
    block content
